@media only screen and (max-device-width: 450px) {
  h2 {
    line-height: 68px;
    font-size: 64px;
  }

  h5 {
    font-size: 36px;
  }

  button {
    height: 80px;
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .content-container {
    width: 96vw;
    max-width: 96vw;
  }

  .barra-navegacao {
    width: 100%;
  }

  .section-hero {
    height: auto;
  }

  .titulo-navegacao {
    font-size: 32px;
  }

  .links-navegacao {
    display: none;
  }

  .hero-info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 64px;
  }

  .hero-info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 48px;
    padding-top: 24px;
  }

  .hero-info-image {
    width: 390px;
  }

  .hero-info-tittle {
    font-size: 54px;
    margin-top: 12px;
  }

  .hero-info-subtittle {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 64px;
  }

  .hero-info-icons-container {
    margin-top: 45px;
    width: 60%;
  }

  .hero-info-icons-img {
    width: 60px;
    height: 60px;
  }

  .section-abilities {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .ability-cards-container {
    grid-template-columns: auto;
    row-gap: 36px;
    margin-top: 48px;
    width: 100%;
  }

  .ability-card {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 690px;
    padding-top: 16px;
  }

  .ability-card-subtitle {
    font-size: 20px;
    text-align: center;
    max-width: 75%;
  }

  .section-portfolio-grid {
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 48px;
    margin-left: 8px;
  }

  .section-portfolio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: auto;
    padding: 24px 0px;
  }

  .section-portfolio-card-links {
    width: 30%;
  }

  .section-portfolio-card-icon-img {
    width: 40px;
    height: auto;
  }

  .section-expericences-card {
    width: 90vw;
  }

  .footer-content {
    width: 100%;
  }
}
